/* raleway-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('./Fonts/raleway-v37-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* raleway-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: url('./Fonts/raleway-v37-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* raleway-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url('./Fonts/raleway-v37-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
    --highlight-color: #008000;
    --highlight-color-bright: #079f07;
    --text-color-dark: #403b3b;
    --background-color-lightgray: #efefef;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
body {
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

/* Header */
.section-header {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: center;
}

header {
    height: 96px;
    max-width: 1024px;
    box-sizing: content-box;
    padding: 0 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    height: 80px;
}

.header-navbar {
    height: 32px;
    align-self: end;
    display: flex;
}

.navbar-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 32px;
}

.navbar-link {
    color: var(--text-color-dark);
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    padding-bottom: 6px;
    border-bottom: 6px solid transparent;
    transition: border-color 0.3s;
}

.navbar-link:hover,
.navbar-link.navbar-active {
    color: var(--highlight-color);
    border-bottom-color: var(--highlight-color);
}

.burger-container {
    display: none;
    height: 64px;
}

.burger-button {
    background: var(--highlight-color);
    height: 48px;
    width: 48px;
    border: none;
    padding: 0;
    border-radius: 8px;
    cursor: pointer;
}

.burger-button:hover {
  background-color: var(--highlight-color-bright);
}

.burger-image {
    height: 48px;
}

.navbar-hidden {
    display: none;
}

.navbar-responsive {
    
    /* border: 2px solid green; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    width: 100%;
    border-radius: 8px;
}

.navbar-list-responsive {
    /* box-sizing: content-box; */
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 32px 0;
    gap: 16px;
}

.navbar-link-responsive {
    display: block;
    color: var(--text-color-dark);
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    padding: 8px 16px;
    border-left: 16px solid transparent;
    transition: border-color 0.3s;
}

.navbar-link-responsive:hover,
.navbar-link-responsive.navbar-active {
    color: var(--highlight-color);
    border-left-color: var(--highlight-color);
}

/* Footer */
footer {
    color: gray;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer-top-container {
    background: #333333;
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer-top {
    /* height: 72px; */
    width: 100%;
    max-width: 1024px;
    box-sizing: content-box;
    padding: 0 40px;
    padding-top: 24px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
}

.footer-links {
    display: flex;
    align-items: center;
    gap: 24px;
}

.footer-link {
    color: gray;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}

.footer-socials {
    display: flex;
    align-items: center;
    gap: 16px;
}

.footer-social-links {
    display: flex;
    align-items: center;
    gap: 12px;
}

.footer-bottom {
    background: #262626;
    color: #484848;
    height: 28px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo {
    height: 24px;
}

.footer-social-icon {
    height: 28px;
}

/* Section 1 */
.section-1 {
    display: flex;
    justify-content: space-around;
    padding: 80px 70px;
}

.section-1_title {
    margin-top: 0;
    text-align: left;
    
}

.section-1_text {
    font-size: 20px;
    text-align: justify;
}

.section-1_img {
    max-width: 500px;
    width: 100%;
    border-radius: 10px;
}

.section-1-right {
    max-width: 500px;
    width: 100%;
    margin-left: 30px;
}

.section-1_button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 35px;
    margin-top: 20px;
     transition: all 0.08s ease-in-out;
}
.section-1_button:hover {
    cursor: pointer;
    transform: translateY(-3px) scale(1.05); 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3)
}

/* Section 2 */


.new {
    background: #f2f2f2;
    text-align: center;
    /* padding: 40px 5%; */
    padding: 40px;
}

.new h2 {
    margin-bottom: 30px;
    font-weight: 700;

}

.card-container {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.card {
    background: white;
    text-decoration: none;
    color: #000;
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* cursor: pointer; */
}

.card img {
    width: 100%;
 
    height: 250px;
    object-fit: cover;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.card p {
  padding: 0px;
    font-weight: 700;
    background: white;
}


/* Section 3 */

.section-3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 50px;
    

}


.section-3_title {
    display: flex;
    justify-content: center;
}
.section-3_title_text{
    margin-bottom: 0px;
}

.section-3_left {
    max-width: 600px;
    width: 100%;
    margin-right: 30px;
    height: 200px;
}

.section-3_img {
    max-width: 300px;
    width: 100%;
    border-radius: 10px;
}

.section-3_text {
    margin-top: 0;
    font-size: 20px;
    text-align: justify;
}

/* Kontakt */

.form, .email_input, .password_input, .textarea_input, .vorname_input, .nachname_input, .buton_div {
    display: flex ;
    flex-direction: column;
    margin-top: 20px;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.form{
    max-width: 400px;
    width: 100%;
    border: none;
    padding: 20px;
    border-radius: 10px;
    background-color: #d6d7d3;
   
}
.form-label{
    font-size: 15px;
    margin-bottom: 10px;
}
.form-control{
    min-height: 30px;
    border: none;
    border-radius: 5px;
}
.buton_div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    background-color: green;
    color: white;
    border: none;
    padding: 10px 35px;
    transition: all 0.08s ease-in-out;
    border-radius: 5px;
}
.btn:hover{
cursor: pointer;
 transform: translateY(-3px) scale(1.05); 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3)
}


/* Impressum */
.impressum_main{
    padding: 40px;
}

/* Rezept */
.Rezept{
    padding: 0px 80px;
}
.image_container {
  width: 100%;        
  max-width: 1400px;     
  height: 350px;        
  overflow: hidden;     
  border-radius: 10px;
  margin: 0 auto;       
}

.image_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;   
  display: block;       
}
.Rezept_icon{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 30px;
    margin-bottom: 45px;
}
.icon_img{
    max-width: 20px;
    width: 100%;
}
.icon{
    display: flex;
    margin-right: 20px;
    background-color: #d6d7d3;
    padding: 5px 10px;
    border-radius: 5px;
}
.icon_text{
    margin-left: 10px;
}
.container_row{
    display: flex;
}
.row_top{
   border-top: 1px solid #d6d7d3 !important;
    padding: 10px 0px;
}
.Rezept_explain{
    padding: 0px 80px;
}
.container{
    max-width: 1400px;
    width: 100%;
}
.amount{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50px;
    width: 100%;
  
    min-height: 40px;
}
.food_ingredients{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 1350px;
    width: 100%;
   
}
.zutaten{
    max-width: 100px;
    width: 100%;
}
.input_number{
    max-width: 120px;
    width: 100%;
    font-size: 16px;
     border-radius: 8px 0px 0px 8px;
     text-indent: 10px;
     border: 1px solid #d6d7d3 !important;
}

.Portionen{
    max-width: 120px;
    width: 100%;
    background-color: green;
    color: white;
    border: none;
    padding: 10px 35px;
    font-size: 15px;

}
.Portionen:hover{
      cursor: pointer;
}
.preparung{
    padding: 0px 80px;
}
.preparung_title{
    margin-top: 40px;
}
.manti_explain{
    text-align: justify;
}
.chef{
    display: flex;
    flex-direction: column;
}
.chef_information{
    display: flex;

}
.chef_name{
    margin-left: 20px;
}
.chef_img{
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

/* Recipe (Milan) */
.section-wrapper-outer {
    display: flex;
    justify-content: center;
}

.section-wrapper-inner {
    max-width: 1024px;
    box-sizing: content-box;
    padding: 0 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
}

.section-wrapper-inner h1 {
    margin-top: 56px;
}

.section-line {
    height: 2px;
    background-color: var(--background-color-lightgray);
    margin-top: 56px;
}

.recipe-image-container {
  margin-top: 8px;
  margin-bottom: 32px;
  width: 100%;    
  height: 180px;        
  overflow: hidden;     
  border-radius: 10px;      
}

.recipe-image {
  width: 100%;
  height: inherit;
  object-fit: cover;
  object-position: center;
}

.info-container {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.info-box {
    height: 32px;
    border-radius: 12px;
    background-color: var(--background-color-lightgray);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 12px;
    gap: 12px;
}

.info-icon {
    height: 20px;
}

.portions {
    margin-top: 16px;
    display: flex;
    align-items: center;
}

.portion-input {
    margin-left: 24px;
    padding-left: 12px;
    width: 80px;
    height: 32px;
    font-size: 16px;
    border-color: var(--background-color-lightgray);
}

.portion-button {
    background-color: var(--highlight-color);
    color: white;
    border: none;
    padding: 10px 35px;
    height: 40px;
    width: 160px;
    font-size: 16px;
}

.portion-button:hover {
    background-color: var(--highlight-color-bright);
}

.ingredients {
    margin-top: 8px;
}

.info-box-block {
    /* height: 44px; */
    justify-content: start;
    padding: 8px 8px;
    padding-right: 4px;
}

.no-background {
    background-color: transparent;
}

.ingredient {
    width: 64px;
    text-align: right;
}

.section-recipe h2 {
    margin-top: 32px;
}

.recipe-author {
    display: flex;
    align-items: center;
    margin-bottom: 64px;;
}

.recipe-author-image {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.recipe-author-name {
    margin-left: 32px;
    padding-top: 4px;
    font-size: 32px;
}

/* ----------- Mediaquery CSS ----------*/
@media screen and (min-width: 1485px){
    .image_container{
        max-width: 1500px;
        width: 100%;
    } 
    .container{
        max-width: 1485px;
    width: 100%;
    }
}

@media screen and (max-width: 992px) {

    nav {
        align-self: center;
    }

    .header-navbar {
        display: none;
    }

    .burger-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-top {
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }

    .section-1 {
        display: flex;
        flex-direction: column !important;
        align-items: center !important;
        padding: 50px 50px !important;
    }

    .section-1-right {
        margin-left: 0;
        display: flex;
        flex-direction: column !important;
        align-items: center;
        max-width: 400px !important;
        width: 100%;
    }

    .section-1_title {
        margin-top: 20px !important;
        text-align: center !important;
    }

    .section-1_text {
        margin-top: 0 !important;
        font-size: 17px !important;
        text-align: justify !important;
    }

    .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

    .section-3{
       
        display: flex;
        flex-direction: column-reverse;

    }
    .section-3_title{
        text-align: center !important;
    }

    .section-3_left{
        max-width: 400px;
        width: 100%;
       
        margin-top: 25px;
    }
    .section-3_text{
        font-size: 17px;
        text-align: justify !important;
    }
}
@media screen and (max-width: 768px){
    .Rezept_title, .preparung_title{
        text-align: center;
    }
    .Rezept_icon{
       display: flex;
    align-items: center;
    justify-content: center; 
    }
    .chef{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .section-3_left{
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 500px){
    .Rezept_title, .preparung_title{
        font-size: 25px;
        margin-top: 30px;
    }
    .Rezept_icon {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin:20px 0px 0px;
    }
    .icon {
        margin-bottom: 20px;
    }
    .icon_img {
    max-width: 15px;
    width: 100%;
    }
    .icon_text{
        font-size: 13px;
    }
    .container_row{
     display: flex;
    justify-content: center;
    }
    .row_top{
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
    }
    .manti_explain{
        font-size: 15px;
    }
    .input_number{
    max-width: 112px;
    width: 100%;
    height: 30px;
    text-align: center;
    border-radius: 0px 0px 0px 0px;
    text-indent: 0px;
    }
    
    .section-3_left{
        margin-right: 0px !important;
    }
    .section-3_title_text{
         padding: 0px 20px;
    }
    .Rezept, .Rezept_explain, .preparung{
        padding: 0px 40px;
    }

    .portions {
        align-items: start;
        flex-direction: column;
        gap: 8px;
    }

    .portion-input {
        margin-left: 0;
    }
}

/* Mobile L */
@media (max-width: 425px) {
    .header-logo {
        height: 56px;
    }

    .footer-socials {
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }
}